<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.mapper.DateMapper">

    <update id="setDateHis" parameterType="java.util.Date">
         update dateRecord
         set dateHis = #{datetemp,jdbcType=DATE}
         WHERE dateID = 0
    </update>

    <select id="getDateHis" resultType="java.util.Date">
        SELECT dateHis
        FROM dateRecord
        WHERE dateID = 0
    </select>

</mapper>