<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.mapper.ExcelLogMapper" >


    <insert id="insert" parameterType="com.system.po.ExcelLog" keyProperty="logID" useGeneratedKeys="true">
        insert into excellog (logID,  excelID, stuName, typeID)
        values (#{logid,jdbcType=INTEGER},
        #{excelid,jdbcType=INTEGER}, 
        #{stuname,jdbcType=VARCHAR},
        #{typeid,jdbcType=INTEGER}
        )
    </insert>

    <select id="selectUploadSeccess" resultType="com.system.po.ExcelLog" >
        SELECT *
        FROM excellog
        WHERE typeID = 0
    </select>

    <select id="selectUploadFail" resultType="com.system.po.ExcelLog" >
        SELECT *
        FROM excellog
        WHERE typeID = 1
    </select>

    <select id="selectUploadConfirm" resultType="com.system.po.ExcelLog" >
        SELECT *
        FROM excellog
        WHERE typeID = 2
    </select>

    <delete id="deleteExcelLog">
        DELETE from excellog
    </delete>

</mapper>