<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.mapper.GradeMapper" >
    <resultMap id="BaseResultMap" type="com.system.po.Grade" >
        <id column="gradeID" property="gradeid" jdbcType="INTEGER" />
        <result column="gradeName" property="gradename" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        gradeID, gradeName
    </sql>

    <select id="findAll"  resultType="com.system.po.Grade">
        select
        *
        from grade
    </select>

    <select id="findAllByDesc"  resultType="com.system.po.Grade">
        select
        *
        from grade
        order by gradeID desc
    </select>

    <insert id="insert" parameterType="com.system.po.Grade" keyProperty="gradeid" useGeneratedKeys="true">
        insert into grade (gradeName
        )
        values ( #{name,jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByID" parameterType="java.lang.Integer" >
        delete from grade
        where gradeID = #{id,jdbcType=INTEGER}
    </delete>


</mapper>