<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.mapper.LessonMapper" >


    <insert id="insert" parameterType="com.system.po.Lesson" keyProperty="lessonid" useGeneratedKeys="true">
        insert into lesson (stuID, lessonStart, lessonEnd, operator, lecturer, remark, lessonTime, typeID,
       subjectID, schoolTime, schoolDate, lessonSign, recordDate, dutyDate, dutyDateHis
        )
        values (#{stuid,jdbcType=INTEGER}, #{lessonstart,jdbcType=DATE}, #{lessonend,jdbcType=DATE}
        , #{operator,jdbcType=VARCHAR}, #{lecturer,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{lessontime,jdbcType=VARCHAR},
        #{typeid,jdbcType=INTEGER}, #{subjectid,jdbcType=INTEGER}, #{schooltime,jdbcType=VARCHAR},
         #{schooldate,jdbcType=VARCHAR}, 0, #{recorddate,jdbcType=DATE}, #{dutydate,jdbcType=VARCHAR}, ''
        )
    </insert>



    <delete id="deleteByStuID" parameterType="java.lang.Integer" >
        delete from lesson
        where stuID = #{stuID,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByLessonID" parameterType="java.lang.Integer" >
        delete from lesson
        where lessonID = #{lessonID,jdbcType=INTEGER}
    </delete>

    <update id="updateLessonSign" parameterType="java.lang.Integer" >
        UPDATE lesson
        SET
        LessonSign = 1,
        dutyDateHis = (case when dutyDate !='' then concat(dutyDateHis,dutyDate) else dutyDateHis end),
        dutyDate =''
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <!--e=(case when b='2015-10-12' then '2015-01-01' else e end)-->
    <!--&#45;&#45;         LessonSign = 1,-->
    <!--&#45;&#45;         dutyDateHis = concat(dutyDateHis,dutyDate),-->
    <!--&#45;&#45;         dutyDate = ''-->
    <update id="updateDutyDate">
        UPDATE lesson
        SET
        dutyDate = concat(dutyDate, #{0})
        where lessonID = #{1}
    </update>


    <select id="selectByStuID" parameterType="java.lang.Integer" resultType="com.system.po.LessonCustom">
        select
        lesson.*, classtype.typeName, subject.subjectName
        from lesson, classtype, subject
        where lesson.stuID = #{stuid,jdbcType=INTEGER}
        AND lesson.typeID = classtype.typeID
        AND lesson.subjectID = subject.subjectID
    </select>

    <select id="selectByLessonID" parameterType="java.lang.Integer" resultType="com.system.po.LessonCustom">
        select
        lesson.*, classtype.typeName, subject.subjectName
        from lesson, classtype, subject
        where lesson.lessonID = #{lessonid,jdbcType=INTEGER}
        AND lesson.typeID = classtype.typeID
        AND lesson.subjectID = subject.subjectID
    </select>

    <update id="updateLesson" parameterType="com.system.po.Lesson">
        UPDATE lesson
        SET
        lessonStart = #{lessonstart,jdbcType=DATE},
        lessonEnd = #{lessonend,jdbcType=DATE},
        lecturer = #{lecturer,jdbcType=VARCHAR},
        remark = #{remark,jdbcType=VARCHAR},
        lessonTime = #{lessontime,jdbcType=VARCHAR},
        typeID = #{typeid,jdbcType=INTEGER},
        subjectID = #{subjectid,jdbcType=INTEGER},
        schoolTime = #{schooltime,jdbcType=VARCHAR},
        schoolDate = #{schooldate,jdbcType=VARCHAR},
        dutyDateHis = #{dutydatehis,jdbcType=VARCHAR}
        where lessonID = #{lessonid,jdbcType=INTEGER}
    </update>

    <select id="countLessonByPay" parameterType="java.lang.Integer" resultType="java.lang.Integer" >
        select count(distinct lessonID) from lesson
        WHERE
        stuID = #{stuid, jdbcType=INTEGER}
        AND
        DATEDIFF(CAST(DATE_FORMAT(lesson.lessonEnd,'%y-%m-%d')AS DATE),CAST(DATE_FORMAT(NOW(),'%y-%m-%d') AS DATE)) > 0
    </select>

    <select id="selectLessonByPay"  resultType="com.system.po.Lesson">
        select *
        from lesson
        WHERE
        DATEDIFF(CAST(DATE_FORMAT(lesson.lessonEnd,'%y-%m-%d')AS DATE),CAST(DATE_FORMAT(NOW(),'%y-%m-%d') AS DATE)) = 7
    </select>

    <update id="updateLessonOperator">
        UPDATE lesson
        SET
        operator = #{0}
        where lessonID = #{1}
    </update>
</mapper>