<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.mapper.SignMapper" >

    <insert id="insertSign" parameterType="java.lang.Integer" keyProperty="signid" useGeneratedKeys="true">
        insert into  sign (stuID,
        stuNameSign, stuSexSign, birthSign, majorSign, schoolSign,
        stuTelSign, moNameSign, motherCompanySign, motherJobSign,
        motherTelSign, motherBirthSign, moDegreeSign, faNameSign,
        fatherCompanySign, fatherJobSign, fatherTelSign, fatherBirthSign,
        faDegreeSign, addressSign, masterNameSign, masterTelSign,
        masterAddressSign, masterSexSign, masterDegreeSign, masterBirthSign, checkDateSign,
        schoolTextSign, familyTextSign, studyTextSign, educationTextSign,
        supportTextSign, improveTextSign, leaderSign, masterSign,
        adminSignID, masterSignID, leaderSignID, receiveSign
        )
        values (#{stuid,jdbcType=INTEGER},
        0,0,0,0,0,
        0,0,0,0,
        0,0,0,0,
        0,0,0,0,
        0,0,0,0,
        0,0,0,0,0,
        0,0,0,0,
        0,0, '','',
        0,0,0,0
        )
    </insert>

    <update id="addStuNameSign" parameterType="java.lang.Integer">
        update sign
        set
        stuNameSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addBirthSign" parameterType="java.lang.Integer">
        update sign
        set
        birthSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addMoBirthSign" parameterType="java.lang.Integer">
        update sign
        set
        motherBirthSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>


    <update id="addFaBirthSign" parameterType="java.lang.Integer">
        update sign
        set
        fatherBirthSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addMajorSign" parameterType="java.lang.Integer">
        update sign
        set
        majorSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addSchoolSign" parameterType="java.lang.Integer">
        update sign
        set
            schoolSign = 0,
            masterSignID = 0,
            leaderSignID =0,
            adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addStuTelSign" parameterType="java.lang.Integer">
        update sign
        set
        stuTelSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addMoNameSign" parameterType="java.lang.Integer">
        update sign
        set
        moNameSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addMoCompanySign" parameterType="java.lang.Integer">
        update sign
        set
        motherCompanySign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addMoJobSign" parameterType="java.lang.Integer">
        update sign
        set
        motherJobSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addMotherTelSign" parameterType="java.lang.Integer">
        update sign
        set
        motherTelSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addFaNameSign" parameterType="java.lang.Integer">
        update sign
        set
        faNameSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>


    <update id="addFaCompanySign" parameterType="java.lang.Integer">
        update sign
        set
        fatherCompanySign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>


    <update id="addFaJobSign" parameterType="java.lang.Integer">
        update sign
        set
        fatherJobSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addFatherTelSign" parameterType="java.lang.Integer">
        update sign
        set
        fatherTelSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addAddressSign" parameterType="java.lang.Integer">
        update sign
        set
        addressSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>


    <update id="addMasterSign" parameterType="java.lang.Integer">
        update sign
        set
        masterNameSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addMoDegreeSign" parameterType="java.lang.Integer">
        update sign
        set
        moDegreeSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addFaDegreeSign" parameterType="java.lang.Integer">
        update sign
        set
        faDegreeSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addMasterTelSign" parameterType="java.lang.Integer">
        update sign
        set
        masterTelSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addStuSexSign" parameterType="java.lang.Integer">
        update sign
        set
        stuSexSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addMasterAddressSign" parameterType="java.lang.Integer">
        update sign
        set
        masterAddressSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>


    <update id="addMasterDegreeSign" parameterType="java.lang.Integer">
        update sign
        set
        masterDegreeSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addMasterSexSign" parameterType="java.lang.Integer">
        update sign
        set
        masterSexSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addMasterBirthSign" parameterType="java.lang.Integer">
        update sign
        set
        masterBirthSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addCheckDateSign" parameterType="java.lang.Integer">
        update sign
        set
        checkDateSign = 0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addSchoolTextSign" parameterType="java.lang.Integer">
        update sign
        set
        schoolTextSign =0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addFamilyTextSign" parameterType="java.lang.Integer">
        update sign
        set
        familyTextSign=0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>


    <update id="addStudyTextSign" parameterType="java.lang.Integer">
        update sign
        set
        studyTextSign =0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>



    <update id="addEducationTextSign" parameterType="java.lang.Integer">
        update sign
        set
        educationTextSign =0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>



    <update id="addSupportTextSign" parameterType="java.lang.Integer">
        update sign
        set
        supportTextSign=0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="addImproveTextSign" parameterType="java.lang.Integer">
        update sign
        set
        improveTextSign=0,
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <select id="selectSignByStuID" parameterType="java.lang.Integer" resultType="com.system.po.Sign">
        SELECT *
        FROM sign
        WHERE stuID = #{stuid,jdbcType=INTEGER}
    </select>


    <update id="updateMasterSign">
        update sign
        set
        stuNameSign= 1, stuSexSign=1, birthSign= 1, majorSign= 1, schoolSign= 1,
        stuTelSign= 1, moNameSign= 1, motherCompanySign= 1, motherJobSign= 1,
        motherTelSign= 1, motherBirthSign=1, moDegreeSign=1, faNameSign= 1,
        fatherCompanySign= 1, fatherJobSign= 1,fatherTelSign= 1, fatherBirthSign=1,
        faDegreeSign=1, addressSign= 1, masterNameSign= 1, masterTelSign= 1,
        masterAddressSign=1, masterSexSign =1, masterDegreeSign =1, masterBirthSign =1, checkDateSign=1,
        schoolTextSign= 1, familyTextSign= 1, studyTextSign= 1, educationTextSign= 1,
        supportTextSign= 1, improveTextSign= 1,
        masterSign = #{1},
        masterSignID = 1
        where stuID = #{0}
    </update>

    <!--负责人签字-->
    <update id="updateLeaderSign">
        update sign
        set
        leaderSign = #{1},
        leaderSignID = 1
        where stuID = #{0}
    </update>

    <update id="updateAdminSign">
        update sign
        set
        adminSignID =1,
        receiveSign = 1
        where stuID = #{0}
    </update>

    <update id="updateAdminReceiveSign">
        update sign
        set
        receiveSign = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <update id="updateAdminUpdateSign">
        update sign
        set
        adminSignID = 0
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <select id="countAdminReceive" resultType="java.lang.Integer">
        SELECT count(*)
        FROM sign
        WHERE
        receiveSign = 0
        AND
        masterSignID = 1
    </select>

    <select id="countAdminReceiveUnsign" resultType="java.lang.Integer">
        SELECT count(*)
        FROM sign
        WHERE
        receiveSign = 0
        AND
        masterSignID = 0
    </select>

    <select id="countAdminUpdate" resultType="java.lang.Integer">
        SELECT count(*)
        FROM sign
        WHERE
        adminSignID = 1
        AND
        masterSignID = 1
    </select>

    <select id="countAdminUpdateUnsign" resultType="java.lang.Integer">
        SELECT count(*)
        FROM sign
        WHERE
        adminSignID = 1
        AND
        masterSignID = 0
    </select>

    <!--添加表二，三的时候调用-->
    <update id="changeSign" parameterType="java.lang.Integer">
        update sign
        set
        masterSignID = 0,
        leaderSignID =0,
        adminSignID = 1
        where stuID = #{stuid,jdbcType=INTEGER}
    </update>

    <delete id="deleteSignByStuID" parameterType="java.lang.Integer" >
        delete from sign
        where stuID = #{stuid,jdbcType=INTEGER}
    </delete>

</mapper>